* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: 0;
}

html,
body {
  height: 100%;
  background: #000;
}

#root {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tweet-settings {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
  border-right: 1px solid #2f3336;
  height: 100%;
  padding: 25px;
  overflow: auto;
}

.tweet-settings h3 {
  font-size: 24px;
  font-weight: normal;
  border-bottom: 1px solid #2f3336;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.tweet-settings ul li:not(:last-child) {
  margin-bottom: 20px;
}

.tweet-settings label {
  font-size: 15px;
  margin-bottom: 5px;
  display: block;
  color: #6e767d;
}

.tweet-settings .input {
  width: 100%;
  background: transparent;
  border-bottom: 1px solid #2f3336;
  color: #fff;
  padding: 10px 0 15px;
  font-size: 15px;
}

.tweet-settings .input::-webkit-input-placeholder {
  color: #fff;
}

.tweet-settings .input:-ms-input-placeholder {
  color: #fff;
}

.tweet-settings .input::-ms-input-placeholder {
  color: #fff;
}

.tweet-settings .input::placeholder {
  color: #fff;
}

.tweet-settings .input:focus {
  border-color: #4e555a;
}

.tweet-settings select {
  width: 100%;
  background: transparent;
  border-bottom: 1px solid #2f3336;
  color: #fff;
  padding: 10px 0 15px;
  font-size: 15px;
}

.tweet-settings select option {
  color: #111;
}

.tweet-settings select::-webkit-input-placeholder {
  color: #fff;
}

.tweet-settings select:-ms-input-placeholder {
  color: #fff;
}

.tweet-settings select::-ms-input-placeholder {
  color: #fff;
}

.tweet-settings select::placeholder {
  color: #fff;
}

.tweet-settings select:focus {
  border-color: #4e555a;
}

.tweet-settings button {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  font-size: 16px;
  color: #fff;
  background: #1da1f2;
  cursor: pointer;
}

.tweet-settings .textarea {
  width: 100%;
  background: transparent;
  border-bottom: 1px solid #2f3336;
  color: #fff;
  padding: 10px 0 15px;
  font-size: 15px;
  line-height: 1.5;
  resize: none;
}

.tweet-settings .textarea::-webkit-input-placeholder {
  color: #fff;
}

.tweet-settings .textarea:-ms-input-placeholder {
  color: #fff;
}

.tweet-settings .textarea::-ms-input-placeholder {
  color: #fff;
}

.tweet-settings .textarea::placeholder {
  color: #fff;
}

.tweet-settings .textarea:focus {
  border-color: #4e555a;
}

.tweet-container {
  padding: 0 50px;
}

.tweet {
  border: 1px solid #2f3336;
  width: 600px;
  margin: 25px auto;
  padding: 0 16px;
  background: #000;
}

.tweet-author {
  height: 48px;
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4px;
  font-size: 15px;
}

.tweet-author img {
  width: 48px;
  height: 48px;
  margin-right: 12px;
  border-radius: 50%;
}

.tweet-author .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: 700;
  font-size: 19px;
}

.tweet-author .name svg {
  margin-left: 3px;
}

.tweet-author .username {
  color: #6e767d;
}

.tweet-content {
  padding: 12px 0;
}

.tweet-content p {
  font-size: 23px;
  line-height: 28px;
  color: #fff;
  overflow: hidden;
}

.tweet-content p span {
  color: #1da1f2;
}

.tweet-stats {
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  color: #6e767d;
  border-top: 1px solid #2f3336;
}

.tweet-stats b {
  color: #fff;
}

.tweet-stats span:not(:last-child) {
  margin-right: 20px;
}

.tweet-actions {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #2f3336;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=App.css.map */